* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    /*border: 1px solid greenyellow;*/
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 4px 4px 4px rgb(168, 168, 168);
}

.main .logo {
    padding-left: 100px;
}

.main .list {
    display: flex;
    column-gap: 32px;
    padding-left: 200px;
}

.main .list .item {
    font-family: Open Sans;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
}

.main .call {
    border: 1px solid #00BAFC;
    padding: 8px 16px;
    border-radius: 5px;
    width: Hug (159px);
    height: Hug (159px);
    background-color: #00BAFC;
    color: white;
    font-size: 15px;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.main .call:hover {
    color: rgb(180, 180, 180);
    transition: 1s;
}

.main .call:active {
    border: 1px solid blue;
    color: white;
}

.main .hamburger {
    display: none;
    border: none;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 16px;
}

.body .content {
    padding: 100px;
    padding-bottom: 100px;
}

.body .content .title {
    font-family: Open Sans;
    font-size: 30px;
    font-weight: 700;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    padding: 0 100px 16px 50px;
}

.body .content .text {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0 150px 16px 50px;
    color: black;
}

.body .content .work {
    border: none;
    background-color: #00BAFC;
    padding: 8px 16px;
    border-radius: 5px;
    gap: 10px;
    margin-left: 50px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    cursor: pointer;
}

.body .content .work:hover {
    color: rgb(180, 180, 180);
    transition: 1s;
}

.body .content .work:active {
    border: 1px solid blue;
    color: white;
}

.body .youtube {
    position: relative;
    padding-right: 100px;

}

.body .youtube .video {
    border-radius: 5px;
}

.body .youtube .icon {
    position: absolute;
    right: 254px;
    top: 76px;
}

.service {
    padding-top: 56px;
    padding-bottom: 56px;
}

.service .content {
    text-align: center;
}

.service .content .title {
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 16px;
}

.service .content .text {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    padding: 16px 350px 16px 350px;
}

.service .list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 70px;
}

.service .list .item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 24px 58px 50px 58px;
    border-radius: 5px;
}

.service .list .item .title {
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    padding: 16px 0 16px 0;
}

.service .list .item .text {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.service .list2 {
    padding-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 70px;
}

.service .list2 .item {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 24px 58px 50px 58px;
    border-radius: 5px;
}

.service .list2 .item .title {
    font-family: Open Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    padding: 16px 0 16px 0;
}

.service .list2 .item .text {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
}

.service .order {
    padding-top: 48px;
    text-align: center;
}

.service .order .get {
    font-family: Open Sans;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
padding: 8px 16px;
border: none;
background-color: #00BAFC;
border-radius: 5px;
cursor: pointer;
margin-right: 16px;
}

.service .order .works {
    color: #00BAFC;
    text-decoration: underline;
}

.how {
    display: block;
    align-items: center;
    justify-content: center;
}

.how .question {
    text-align: center;
    padding-top: 56px;
    padding-bottom: 16px;
}

.how .question .title {
font-family: Open Sans;
font-size: 24px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0em;
text-align: center;
padding-bottom: 16px;
color: black;
}

.how .question .text {
    padding: 16px 350px 16px 350px;
    padding-bottom: 16px;
}

.how .list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 52px;
    text-align: center;
    padding-bottom: 48px;
}

.how .list .content .title {
font-family: Open Sans;
font-size: 20px;
font-weight: 700;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
}

.how .list .content .text {
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}

.how .place {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 600px;
    margin-top: 48px;
    margin-bottom: 56px;
    padding: 8px 16px;
    border: none;
    background-color: #00BAFC;
    border-radius: 5px;
    font-family: Open Sans;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
color: white;
cursor: pointer;
}

.how .place:hover {
    color: rgb(180, 180, 180);
    transition: 1s;
}

    .how .place:active {
    border: 1px solid blue;
    color: white;
}


.registrate {
    background-color: #00BAFC;
    padding: 56px 350px 56px 350px;
}

.registrate .title {
    text-align: center;
    font-family: Open Sans;
font-size: 24px;
font-weight: 700;
line-height: 31px;
letter-spacing: 0em;
text-align: center;
color: white;
}

.registrate .text {
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
color: white;
}

.registrate .login {
    background-color: white;
    border-radius: 5px;
    margin: 0 170px 0 170px;
    padding: 24px 0 16px 0;
}

.registrate .login .name {
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: lightgrey;
    padding: 16px 16px;
    margin: 24px 24px;
}
.registrate .login .name input {
    background-color: lightgrey;
    border: none;
}
.registrate .login .name input::placeholder {
    color: black;
    font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

}

.registrate .login .call {
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: lightgrey;
    padding: 16px 16px;
    margin: 24px 24px;
}
.registrate .login .call input {
    background-color: lightgrey;
    border: none;
}
.registrate .login .call input::placeholder {
    color: black;
    font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;

}

.registrate .login .type {
    border: 1px solid lightgrey;
    border-radius: 5px;
    background-color: lightgrey;
    padding: 16px 16px;
    margin: 24px 24px;
}
.registrate .login .type label {
    color: black;
    font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: center;
}
.registrate .login .call select {
    background-color: lightgrey;
    border: none;
}

.registrate .login .order {
    padding: 8px 16px;
    margin-left: 85px;
    border: none;
    border-radius: 5px;
    background-color: #00BAFC;
    color: white;
    font-family: Open Sans;
font-size: 16px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0em;    
}
.registrate .login .order:hover {
    color: rgb(180, 180, 180);
    transition: 1s;
}
.registrate .login .order:active {
    border: 1px solid blue;
    color: white;
}

.footer {
    background-color: #191919;
}

.footer .list {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 100px;
    padding: 56px 100px 120px 100px;
}

.footer .list .first {
    padding-left: 40px;
}

.footer .list .first .title {
    color: white;
font-family: Open Sans;
font-size: 28px;
font-weight: 700;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
}

.footer .list .first .text {
    color: white;
    font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
padding: 16px 150px 0 0px;
}

.footer .list .site {
    padding-right: 220px;
}

.footer .list .site {
    padding-right: 210px;
}

.footer .list .site .title {
    color: white;
    padding-bottom: 16px;
font-family: Open Sans;
font-size: 20px;
font-weight: 700;
line-height: 26px;
letter-spacing: 0em;
text-align: left;

}

.footer .list .site .item {
    color: white;
    padding-top: 8px;
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
}


.footer .list .social {
    padding-right: 100px;
}


.footer .list .social .title {
    color: white;
font-family: Open Sans;
font-size: 20px;
font-weight: 700;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
}

.footer .list .social .social-item {
    color: white;
    display: flex;
    column-gap: 8px;
    padding-top: 8px;
}